#  JORAM: Java(TM) Open Reliable Asynchronous Messaging
#  Copyright (C) 2001 - 2012 ScalAgent Distributed Technologies
# 
#  This library is free software; you can redistribute it and/or
#  modify it under the terms of the GNU Lesser General Public
#  License as published by the Free Software Foundation; either
#  version 2.1 of the License, or any later version.
#  
#  This library is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#  Lesser General Public License for more details.
#  
#  You should have received a copy of the GNU Lesser General Public
#  License along with this library; if not, write to the Free Software
#  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307
#  USA.
monolog.classname org.objectweb.util.monolog.wrapper.javaLog.LoggerFactory

# -----------------------------------------------------------------------
# tty : console handler
# -----------------------------------------------------------------------
handler.tty.type Console
handler.tty.output System.out
handler.tty.pattern  %d : %O{1}.%M : %m%n

# -----------------------------------------------------------------------
# logf : rolling file handler
# -----------------------------------------------------------------------
handler.logf.type RollingFile
handler.logf.output server.log
handler.logf.pattern %h %l %d, %m%n
handler.logf.fileNumber 10
handler.logf.maxSize 10000000

# -----------------------------------------------------------------------
# logger definitions
# -----------------------------------------------------------------------
#logger.root.handler.0 tty
logger.root.handler.1 logf

logger.root.level ERROR

------
# JORAM
#-------
logger.fr.dyade.aaa.level INFO

#logger.fr.dyade.aaa.agent.Agent.level DEBUG
#logger.fr.dyade.aaa.agent.Engine.level DEBUG
logger.fr.dyade.aaa.util.Transaction.level DEBUG
#logger.fr.dyade.aaa.agent.Network.level DEBUG
#logger.fr.dyade.aaa.agent.Service.level DEBUG

#logger.fr.dyade.aaa.jndi2.client.level DEBUG
#logger.fr.dyade.aaa.jndi2.server.level DEBUG

logger.org.objectweb.joram.level WARN

#logger.org.objectweb.joram.mom.level DEBUG
#logger.org.objectweb.joram.client.jms.level DEBUG
#logger.org.objectweb.joram.client.connector.level DEBUG
#logger.org.objectweb.joram.shared.level DEBUG

#logger.org.objectweb.joram.client.jms.Session.Message.level INFO
#logger.org.objectweb.joram.client.jms.Connection.tracker.level DEBUG
#logger.org.objectweb.joram.client.jms.Session.tracker.level DEBUG

#logger.org.ow2.joram.jmxconnector.level DEBUG

#logger.org.objectweb.joram.tools.rest.level INFO
